# Ambiente virtual
venv311/

# Arquivos compilados do Python
__pycache__/
*.pyc
/debug
*.pdf
*.pdf
/media/pdfs
/venv/lib/python3.11/site-packages/attrs-25.3.0.dist-info/licenses
/venv/lib/python3.11/site-packages
/venv/lib/python3.11
/venv/lib
/venv
.env
media/relatorios/relatorio_compliance_20250603_074705.xlsx
media/relatorios/~$relatorio_compliance_20250611_140313.xlsx
*.bak
*.dir
celerybeat-schedule.dat
*.dat